/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.title-margin {
    margin-top: 35px;
    margin-bottom: 10px;
}

#menu-home li + li {
    border-left: 1px solid #333;
}

.navbar-nav > li > a {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.player-rank {
    font-size: 3em;
}

.player-name {
    font-weight: bold;
    font-size: 1.3em;
}

.clickable {
    cursor: pointer;
}

table.table tr td input.show-on-hover {
    /*display: none;*/
    visibility: hidden;
}

table.table tr:hover td input.show-on-hover {
    /*display: inline-block;*/
    visibility: visible;
}

.show-on-hover:hover {
    visibility: visible;
}

.btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545 !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px 0 !important;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.panel.with-nav-tabs .panel-heading {
    padding: 0;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: none !important;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel.with-nav-tabs .nav-tabs {
    border-bottom: none;
}

.panel.with-nav-tabs .nav-justified {
    margin-bottom: -1px;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.with-nav-tabs.panel-default .nav-tabs > li > a {
    margin-left: 6px;
}

.with-nav-tabs.panel-default .nav-tabs > li.active > a, .with-nav-tabs.panel-default .nav-tabs > li.active > a:hover, .with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
    color: #555;
    background-color: #fff;
    
    border-color: #ddd;
    border-bottom-color: transparent;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #f9f9f9 !important;
    border-color: #ddd;
}

label.switch-label {
    margin-bottom: 4px !important;
}

.switch {
    position: relative;
    display: inline-block;
}

.switch-input {
    display: none;
}

.switch-label {
    display: block;
    width: 48px;
    text-indent: -150%;
    clip: rect(0 0 0 0);
    color: transparent;
    user-select: none;
}

    .switch-label::before,
    .switch-label::after {
        content: "";
        display: block;
        position: absolute;
        cursor: pointer;
    }

    .switch-label::before {
        width: 100%;
        height: 100%;
        background-color: #dedede;
        border-radius: 9999em;
        -webkit-transition: background-color 0.25s ease;
        transition: background-color 0.25s ease;
    }

    .switch-label::after {
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
        -webkit-transition: left 0.25s ease;
        transition: left 0.25s ease;
    }

.switch-input:checked + .switch-label::before {
    background-color: #0075ff;
}

.switch-input:checked + .switch-label::after {
    left: 24px;
}
