@namespace AtpCore.PlayerBio
@page "/PlayerBio"
@inject AtpCore.AppData

<div id="player-bio">
    <h1>Yodels</h1>
</div>


@using System;
@using System.Net.Http;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@using System.Collections.Generic;
@using System.Net.Http.Json;

@code {

    public PlayerData PlayerBios { get; set; }
    public string PlayerId { get; set; }

    private async Task<PlayerData> PlayerContent(string PlayerId)
    {
        var httpClient = new HttpClient();
        httpClient.BaseAddress = new Uri("https://app.atptour.com/");

        // Get data from JSON HttpContent with ReadFromJsonAsync
        var request = new HttpRequestMessage(HttpMethod.Get, "api/gateway/players.PlayerProfileBio?playerid=D643");
        using var response = await httpClient.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            var profiles = response.Content.ReadFromJsonAsync<PlayerBiography>();

            //PlayerData tester = profiles.Result.Data.(p => p.PlayerId == PlayerId));

            PlayerData testerTwo = profiles.Result.Data.W

            foreach (PlayerBiosData player in profiles.Result.Data)
            {
                
                

            }
        }

        return PlayerBios;

    }

}
